@tailwind base;
@tailwind components;
@tailwind utilities;
/* quill-toolbar styling */
.custom-vertical-gradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, #636b2f 90%);
}

.green-text {
  color: #636b2f;
}

.ql-toolbar {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.ql-container {
  border: 1px solid #ccc;
  min-height: 200px;
}

.ql-editor {
  min-height: 200px;
  padding: 12px;
  font-size: 14px;
}

.ql-toolbar .ql-formats button {
  background: white;
  color: black;
  border: none;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
}

.ql-toolbar .ql-formats button:hover {
  background-color: #ddd;
}

.ql-toolbar .ql-active {
  background-color: #ddd !important;
}

.ql-font-georgia {
  font-family: Georgia, serif;
}

.ql-font-arial {
  font-family: Arial, sans-serif;
}

.ql-font-comic-sans {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.ql-font-courier-new {
  font-family: "Courier New", Courier, monospace;
}

.ql-font-helvetica {
  font-family: Helvetica, sans-serif;
}

.ql-font-lucida {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/*

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.ql-syntax {
  background-color: #f5f5f5;
  color: #333;
  padding: 8px;
  border-radius: 4px;
  overflow-x: auto;
}

h1 {
  font-size: 2.25rem; 
}

h2 {
  font-size: 1.875rem; 
}

h3 {
  font-size: 1.5rem; 
}

h4 {
  font-size: 1.25rem; 
}

h5 {
  font-size: 1.125rem;
}

.ql-indent-1 {
  padding-left: 1.5rem;
}

.ql-indent-2 {
  padding-left: 3rem;
}

.ql-indent-3 {
  padding-left: 4.5rem;
}

.ql-indent-4 {
  padding-left: 6rem;
}

.ql-indent-5 {
  padding-left: 7.5rem;
}
.ql-editor ul {
  list-style-type: disc; 
  margin-left: 1.5rem; 
}

.ql-editor ol {
  list-style-type: decimal;
  margin-left: 1.5rem; 
}

.ql-editor .ql-indent-1 {
  padding-left: 1.5rem;
}

.ql-editor .ql-indent-2 {
  padding-left: 3rem;
}

.ql-editor .ql-indent-3 {
  padding-left: 4.5rem;
}

.ql-editor .ql-indent-4 {
  padding-left: 6rem;
}

.ql-editor .ql-indent-5 {
  padding-left: 7.5rem;
}
*/
